header {
    border-style: groove;
    border: 2px black;
    text-align: center;
    margin: 0 auto;

}
.underscore {
    text-align: center;
    margin: 0 auto;
    font-size: 70px;
}
.container {
    margin: auto;
    margin-left: 10px;
}
#scoreboard {
    margin-left: 200px;
}
body {
    margin-top: 200px;
    border: solid 75px;
    border-image: url(photos/controller.png) 75 round;
}